html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 0 20px;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-position: center;
    
}